@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #111827;
  --color-surface: #1F2937;
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-secondary: #10B981;
  --color-text-main: #F9FAFB;
  --color-text-secondary: #9CA3AF;
  --color-text-tertiary: #4B5563;
  --color-border: #374151;
  
  --font-sans: Inter, sans-serif;
  --font-mono: 'Fira Code', monospace;
}

body {
  @apply bg-background text-text-main font-sans;
}

/* Custom scrollbar for a more modern look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* surface */
}
::-webkit-scrollbar-thumb {
  background: #4b5563; /* text-tertiary */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* gray-500 */
}